.main-footer{
    margin-top: 120px;
    display: grid;
    row-gap: 36px;
    padding: 0 98px;
    font-family: var(--font-family);
    justify-items: center;
}
.social-media{
    display: flex;
    column-gap: 48px;
}
.footer-nav{
    color: var(--cards-titles);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    column-gap: 48px;
}
.company-dev{
    color: var(--company-logo-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}