@import "../fonts/DMSans/stylesheet.css";
@import "banner.css";
@import "navigation.css";
@import "footer.css";
@import "slider.css";

:root
{
    --font-family: DM Sans;
    --banner-text-color: #FFF;
    --links-color: #4338CA;
    --titles-color: #000000;
    --cards-titles: #111827;
    --subtitles-color: #9CA3AF;
    --company-logo-color: #6B7280;
    --border-color: #D1D5DB;
    --container-width: 1440px;
}

.main-container
{
    font-family: var(--font-family, sans-serif);
    display: flex;
    margin: 0;
    padding: 0;
    max-width: var(--container-width);
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: relative;
    background: rgb(241, 238, 238);
}

.films-slider-section{
    margin-top: 70px;
}

.main-section{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}