# Default ignored files
/../../../../:КУРСЫ/task_films_page/.idea/shelf/
/../../../../:КУРСЫ/task_films_page/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:КУРСЫ/task_films_page/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:КУРСЫ/task_films_page/.idea/dataSources/
/../../../../:КУРСЫ/task_films_page/.idea/dataSources.local.xml
